
*{
    margin: 0px !important;
    padding: 0px !important ;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    opacity: 90% !important;
    /* background-image: url('{% static "images/background.png%}'); */
    /* height: 100%;
    width: 100%; */
    /* background-color: rgb(36, 35, 35); */

}

